#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  width: 300px;
  margin: 15px;
  border: solid rgba(255, 255, 255, 0.6);
}

.card:hover
{
  border: solid rgba(255, 255, 255, 1);
}

.read-the-docs {
  color: #888;
}

.container
{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.card img
{
  width: 300px;
  height: 370px;
}

.controls
{
  display: flex;
  justify-content: center;
  margin-top: auto;
  gap: 10px;
  margin-bottom: 20px;
}

.elements
{
  flex-grow: 1;
  margin: 16px 0;
}

.last
{
  width: 300px;
  height: 80px;
}

.block
{
  display: flex;
  margin: auto;
  height: 100vh;
}

.poster img
{
  width: 300px;
  height: 350px;
  border: solid white 3px;
}

.poster
{
  margin-left: 40px;
}

.formValue form label
{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  font-weight: bold;
}

.formValue form input
{
  margin-top: 8px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.formValue
{
  display: flex;
  justify-content: center;
}

.buttons
{
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

textarea
{
  resize: none;
}