<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">Home page</a>
                <div class="navbar-nav">
                    @if(Context.Session.GetString("Name") == null)
                    {
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Registration</a>
                    }
                    @if (Context.Session.GetString("Name") != null)
                    {
                        <span class="nav-link">Hello, @Context.Session.GetString("Name")</span>
                        <a class="nav-link" asp-controller="Home" asp-action="Logout">Logout</a>
                    }
                    else
                    {
                        <a class="nav-link" asp-controller="Account" asp-action="Login">Login</a>
                    }
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            © @DateTime.Now.Year - AspNetCore
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>