@{
    ViewBag.Title = "Guest book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts
{
    <script>
        document.addEventListener("DOMContentLoaded", function(event)
        {
            getAllMessages();

            let row = function (message)
            {
                return "<tr data-rowid='" + message.id + "'>" +
                    "<td>" + message.messageText + "</td>" +
                    "<td>" + new Date(message.date).toLocaleString() + "</td>" +
                    "</tr>";
            };

            async function getAllMessages()
            {
                try
                {
                    const response = await fetch('https://localhost:7010/Home/GetMessage',
                    {
                        method: 'GET',
                    });

                    if (!response.ok)
                    {
                        alert("Error: " + response.statusText);
                        return;
                    }

                    const messages = await response.json();
                    let rows = "";
                    messages.forEach((message) =>
                    {
                        rows += row(message);
                    });
                    document.getElementById("message-list").innerHTML = rows;
                }
                catch (error)
                {
                    alert("Error: " + error.message);
                }
            }

            $(document).ready(function ()
            {
                $('#addMessageForm').on('submit', function (e)
                {
                    e.preventDefault();
                    var message = $('textarea[name="message"]', this).val();
                    if (!message)
                    {
                        alert("Message cannot be empty");
                        return;
                    }

                    $.ajax
                    ({
                        url: 'https://localhost:7010/Home/AddMessage',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({ message: message }),
                        dataType: 'json',
                        success: function (data)
                        {
                            document.getElementById("message-list").innerHTML = row(data) + document.getElementById("message-list").innerHTML;
                            $('textarea[name="message"]').val('');
                        }
                    });
                });
            });
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<h1>Messages</h1>

<form id="addMessageForm" method="post">
    <div class="form-group">
        <textarea name="message" rows="4" cols="50" placeholder="Enter message"></textarea>
    </div>
    <input type="submit" value="Add message" class="btnSub" />
</form>

<div id="messages">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Message</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody id="message-list">
        </tbody>
    </table>
</div>