@model MusicPortal.BLL.DTO.GenreDTO

@{
    ViewData["Title"] = "Edit genre";
}

<div class="container mt-4">
    <h2>@Resource.ChangeText</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="GenreId" />
        <div class="form-group">
            <label asp-for="Name">@Resource.NameText</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">@Resource.SaveText</button>
    </form>
</div>